*{
    margin: 0px;
    /* padding: 0px; */

}
.logo img{
    width: 200%;
}

.contactinfo {
    position: relative;
    /* margin-left: 200px; */
}

.emailcontact img{
    width: 20px;
    margin-bottom: 10px;
}
.contactName {
    margin-left: 10px;
}
.emailcontact  img:hover{
    width: 20px;
    transition: 1s ease;
    padding-left: 10px
}


.phonecontact img{
    width: 20px;
}
.contactPhone {
    margin-left: 10px;
}
.phonecontact  img:hover{
    width: 20px;
    transition: 1s ease;
    padding-left: 10px
}
/* navbar items  */
.bar{
    width: 30px;
    margin: 5px;
    height: 5px;
    color: rgb(223, 116, 87);
    background: rgb(10, 3, 105);
    cursor: pointer;
    border-radius: 5px;
}
/* menue button */
.btn {
    border: 1px solid rgb(10, 3, 105);
    display: inline-block;
    border-radius: 5px;

}
/* menue button */
.logoBtn {
    background: rgb(243, 248, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(10, 3, 105);
}

ul {
    background: rgb(243, 248, 233);
    list-style: none;
    height: 0px;
    overflow: hidden;
    transition: all 1s ease
}

.showNav{
    height:132px;  
    /* old value (176: 4 tabs) */
}


/* test for buttons on nav bar */
ul li a{
    color: rgb(223, 116, 87);
    background: rgb(243, 248, 233);
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: all 1s ease;
    font-size: 20px;
    border-bottom: 1px solid rgb(10, 3, 105);

}

ul li a:hover{
    background: rgb(77, 136, 128);
    color: rgb(223, 116, 87);
    padding-left: 18px;
}

/* resposize mount */

/* nav bar when window is large */
@media screen and (min-width: 640px){
    .logo img{
        width: 80px
    }
    nav{
        background: rgb(243, 248, 233);
        color: rgb(65, 161, 65);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid rgb(10, 3, 105)

    }

    .btn{
        display: none;
    }

    ul{
        background: rgb(243, 248, 233)te;
        display: flex;
        list-style: none;
        height: auto;
        /* background: transparent;
        padding-right: 20px; */
    }

    .showNav{
        height: auto;
    }

    ul li a:hover{
        background: rgb(77, 136, 128);
        color: rgb(223, 116, 87);

    }

    nav ul a{
        border-radius: 5px;
        background: transparent;
        padding-left: 40px;
        border-bottom: none;
    }
    .logoBtn{
        border: none;
    }
}