*{
    margin: 0px;
    padding: 0px;
}

/* .contact_body_main {
    margin: 0px;
    padding: 0px;
} */


.Contact_body_main {
    text-align: center;
    color: rgb(83, 136, 128);
    background: rgb(243, 248, 233);
    
}

.emailcontactbody img {
    width: 20px;
}
.emailcontactbody {
    margin-bottom: -10px;
    position: relative;
    text-align: center;
    flex-direction: row;
    align-items: center;
}



.phonecontactbody img {
    width: 20px;
}

.facebookcontactbody img{
    width: 50px;
}

/* .facebookcontactbody img{
    margin-bottom: -10px;
    position: relative;
    text-align: center;
    flex-direction: row;
    align-items: center;
    width: 50px;
} */

/* .emailcontactbody {
    position: relative;
    text-align: center;
    flex-direction: row;
    align-items: center;
} */

/* .contactinfobody {
    position: relative;
    align-items: center;
} */

/* .emailcontactbody img{
    margin-bottom: -10px;
    position: relative;
    text-align: center;
    flex-direction: row;
    align-items: center;
    width: 40px;
} */
/* .contactNamebody {
    margin-left: 10px;
    
    text-align: center;
    
} */
/* .emailcontactbody  img:hover{
    text-align: center;
    width: 20px;
    transition: 1s ease;
    padding-left: 10px
} */




/* .phonecontactbody img{
    width: 40px;
    
} */
/*
.contactPhonebody {
    margin-left: 10px;
}
.phonecontactbody  img:hover{
    width: 20px;
    transition: 1s ease;
    padding-left: 10px
}

.whatsappontact img{
    width: 80px;
}
.whatsappontact {
    margin-left: 10px;
}
.whatsappontact  img:hover{
    width: 20px;
    transition: 1s ease;
    padding-left: 10px
} */