/* *{
    margin: 0px;
    padding: 0px;
} */

.contact_body_main {
    margin: 0px;
    padding: 0px;
}

.Contact_body_main {
    text-align: center;

    color: rgb(83, 136, 128);
    background: rgb(243, 248, 233);
    
}

.contactinfobody {
    position: relative;
    text-align: center;
    /* margin-left: 200px; */
    flex-direction: row;
    align-items: center;
}

.emailcontactbody img{
    width: 20px;
    margin-bottom: 10px;
}
.contactNamebody {
    margin-left: 10px;
    text-align: center;
    
}
.emailcontactbody  img:hover{
    text-align: center;
    width: 20px;
    transition: 1s ease;
    padding-left: 10px
}


.phonecontactbody img{
    width: 20px;
    
}
.contactPhonebody {
    /* margin-left: 10px; */
}
.phonecontactbody  img:hover{
    width: 20px;
    transition: 1s ease;
    padding-left: 10px
}

.whatsappontact img{
    width: 80px;
}
.whatsappontact {
    margin-left: 10px;
}
.whatsappontact  img:hover{
    width: 20px;
    transition: 1s ease;
    padding-left: 10px
}