/* .services ul li a{
    color: rgb(223, 116, 87);
    background: rgb(243, 248, 233);
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: all 1s ease;
    font-size: 20px;
    border-bottom: 1px solid rgb(10, 3, 105);

}

.services ul li a:hover{
    background: rgb(77, 136, 128);
    color: rgb(223, 116, 87);
    padding-left: 18px;
} */

/* .services ul {
    background: rgb(243, 248, 233);
    list-style: none;
    height: 0px;
    overflow: hidden;
    transition: all 1s ease
} */

/* body, html {
    height: 100%;
    margin: 0;
    background: rgb(243, 248, 233)
} */

.services ul{

    list-style: none;
    height: auto;
    /* background: transparent;
    padding-right: 20px; */
}

